* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}

i {
    font-size: 30px;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: aliceblue;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#s1 {

    height: 200vh;
    padding-top: 80px;
    margin-bottom: -6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.left {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.left img {
    width: 400px;
    height: auto;
    transition: all 200ms ease-in-out;
}

.left img:hover {
    transform: scale(1.2);
}

.right {
    width: 400px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    gap: 20px;
    box-sizing: border-box;
}

h2 {
    color: rgb(8, 129, 243);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb {
    background: #f0b801;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c5b4b4;

}

#s2 {
    min-height: 100vh;
    height: auto;
    padding: 50px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cardsEmpre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.card {
    height: auto;
    width: 400px;
    border: 2px solid #090909;
    border-radius: 20px;
    color: rgb(10, 10, 10);
    transition: all 200ms ease-in-out;
    background-color: rgb(22, 127, 247);
}

.card img {
    height: auto;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
}

.card p {
    padding: 5px;
    background-color: #f0b801;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

h4 {
    background-color: rgb(22, 127, 247);
    padding: 5px;
}



#s3 {
    min-height: 50vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.formulario {
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.formulario label {
    width: 100%;
    padding: 10px;
    margin-bottom: -25px;
}

.formulario input {
    width: 100%;
    padding: 10px;
}

.formulario textarea {
    max-width: 100%;
    min-width: 255px;
    width: 255px;
    padding: 10px;
}

.formulario button {
    width: 100%;
    padding: 10px;
}

#trabalhos {
  width: 250px;
}


footer {
    width: 100%;
    height: 50px;
    box-shadow: 0px 3px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


@media (width <=1000px) {
    #s2 {
        padding: 0px;
    }

    .cardsEmpre {
        gap: 50px;
    }

    .card {
        width: 100%;
        height: auto;

    }

    .card img {
        height: auto;
        width: 100%;
    }

    .card p {
        padding: 10px;
    }

}